{
  "arrowParens": "always",
  "semi": false,
  "trailingComma": "none",
  "tabWidth": 1,
  "endOfLine": "auto",
  "useTabs": false,
  "singleQuote": true,
  "printWidth": 120,
  "jsxSingleQuote": true
}
